{% extends "base.html" %}
{% block conteudo %}

    <!-- Main content -->
    <div class="content">

      <section class="content">
        <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- Formulario-->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Novo Repositorio</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="{{ url_for('repositorio.criar')}}" method="post">
                    <div class="card-body">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="name" placeholder="Nome do repositorio">
                    </div>
                    <div class="form-group">
                        <label for="link">Link</label>
                        <input type="text" class="form-control" id="link" name="link" placeholder="Link do repositorio">
                    </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary" onclick="document.getElementById('my_loading').style.display = 'block' ;">Submit</button>
                    </div>
                </form>
                </div>
                <!-- End Formulario-->
            </div>

            <div class="overlay-wrapper" id="my_loading" style="display: none">
                <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                        <div class="text-bold pt-2">Loading...</div>
                </div>
            </div>

        </div>

        </div><!-- /.container-fluid -->
      </section>

    </div>
    <!-- /.content -->

{% endblock %} 