{% extends "base.html" %}
{% block conteudo %}

    <!-- Main content -->
    <div class="content">

      <section class="content">
        <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- Formulario-->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Novo Repositorio</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="{{ url_for('repositorio.criar')}}" method="post">
                    <div class="card-body">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="name" placeholder="Nome do repositorio">
                    </div>
                    <div class="form-group">
                        <label for="link">Link</label>
                        <input type="text" class="form-control" id="link" name="link" placeholder="Link do repositorio">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="">Upload</span>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                </div>
                <!-- End Formulario-->
            </div>
        </div>

        </div><!-- /.container-fluid -->
      </section>

    </div>
    <!-- /.content -->

{% endblock %} 