{% extends "base.html" %}
{% block conteudo %}

    <!-- Main content -->
    <div class="content">

      <section class="content">
        <div class="container-fluid">

          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Lista dos meus Repositórios</h3>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row">
                  </div>
                    <div class="row">
                    <div class="col-sm-12">

                      <div class="row">
                        <div class="col-sm-6">
                          <div id="Opcoes">
                            <label>Opcoes</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div id="Acoes">
                            <a href="{{ url_for('repositorio.criar')}}">[ Novo ]</a>
                          </div>
                        </div>
                      </div>

                      <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Id: activate to sort column descending" aria-sort="ascending">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Nome: activate to sort column ascending">Nome</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Repositorio: activate to sort column ascending">Repositorio</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acoes: activate to sort column ascending">Acoes</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acoes: activate to sort column ascending">...</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acoes: activate to sort column ascending">...</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acoes: activate to sort column ascending">...</th>
                          </tr>
                        </thead>
                        <tbody>

                          {% for item in repositorios %}
                          <tr role="row" class="even">
                            <td tabindex="0" class="sorting_1">{{ item["id"] }}</td>
                            <td>{{ item["name"] }}</td>
                            <td>{{ item["link"] }}</td>
                            <td><a href="{{ url_for('repositorio.visualizar', id=item["id"]) }}">[Visualizar]</a>
                            <td><a href="{{ url_for('repositorio.metricas', id=item["id"]) }}">[Metricas]</a>
                            <td><a href="{{ url_for('repositorio.update', id=item["id"]) }}">[Update]</a>
                            <td><a href="{{ url_for('repositorio.delete', id=item["id"]) }}">[Delete]</a>
                          </tr>
                          {% endfor%}

                        </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
          </div>

        </div><!-- /.container-fluid -->
      </section>

    </div>
    <!-- /.content -->

{% endblock %} 