{% extends "base.html" %}
{% block conteudo %}
      <div class="container-fluid">
      
        <h5 class="mb-2">Info Box: {{ name}}</h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fas fa-cog"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Commits</span>
                <span class="info-box-number">{{quantidade_commits}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Autores</span>
                <span class="info-box-number">{{quantidade_autores}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Arquivos</span>
                <span class="info-box-number">{{quantidade_arquivos}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Tipos de Arquivos</span>
                <span class="info-box-number">{{quantidade_tipos}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

          <div class="col-md-12">  
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-text-width"></i>
                  Description
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <dl>
                  <dt>Nome</dt>
                  <dd>{{ name }}</dd>
                  <dt>Data de Criação</dt>
                  <dd>{{data_criacao}}</dd>
                  <dt>Data de Análise</dt>
                  <dd>{{data_analises}}</dd>
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        <div class="row">
          <div class="col-md-8">
            <!-- Word Cloud-->
            <div class="card card-widget">
                <div class="card-header">
                  <h5 class="card-title">Word Cloud - Arquivos mais alterados</h5>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <img class="img-fluid pad" src="/static/img/{{ usuario_id + '/' + name }}.png" alt="Photo">
                </div>
                <!-- /.card-body -->
              </div>

          </div>

          <div class="col-md-4">
            <!-- Table with files most changed -->
            <div class="card card-widget">              
                <div class="card-header">
                  <h5 class="card-title">Arquivos mais alterados</h5>
                  <div class="card-tools">                
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Arquivo</th>
                      <th>Frequencia</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for key, value in arquivos.items() %}
                          <tr role="row" class="even">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                          </tr>
                      {% endfor%}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
                <!-- /.card-body -->
              </div>

            <!-- Table with files most changed -->
            <div class="card card-widget">
                <div class="card-header">
                  <h5 class="card-title">Quantidade de Extensões</h5>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Extensão</th>
                      <th>Quantidade</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for key, value in lista_tipos.items() %}
                          <tr role="row" class="even">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                          </tr>
                      {% endfor%}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

          </div>
        </div>
    
      </div>
{% endblock %}