{% extends "base.html" %}
{% block conteudo %}

    <!-- Main content -->
    <div class="content">

      <section class="content">
        <div class="container-fluid">

          <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Lista de Usuários Registrados</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row">
                  </div>
                    <div class="row">
                    <div class="col-sm-12">
                      <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Id: activate to sort column descending" aria-sort="ascending">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Nome: activate to sort column ascending">Nome</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Usuario: activate to sort column ascending">Usuario</th>
                          </tr>
                        </thead>
                        <tbody>

                          {% for item in usuarios %}
                          <tr role="row" class="even">
                            <td tabindex="0" class="sorting_1">{{ item["id"] }}</td>
                            <td> <img src="{{ url_for('static', filename='uploads/' + item["image"]) }}" alt="User Image" class="img-size-50"> </td>
                            <td>{{ item["name"] }}</td>
                            <td>{{ item["username"] }}</td>
                          </tr>
                          {% endfor%}

                        </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
          </div>

        </div><!-- /.container-fluid -->
      </section>

    </div>
    <!-- /.content -->

{% endblock %} 